/***************************************************************************************************/

/* Body, box-sizing, padding and margin optimization */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    font-family: 'Epilogue', sans-serif;
    background-color: hsl(0, 0, 98%);
    overflow-x: hidden;
}

.overlay {
    /* overlay element (see HTML section) */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0.33;
    display: none;
}

.menu-open .overlay {
    /* a class to equip the body section with (see main.js section) */
    display: block;
}

/******************************/

/* Navigation bar section */

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu-btn {
    display: none;
}

.logo {
    align-self: center;
    margin-left: 30px;
    padding-top: 10px;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.left {
    margin-left: 50px;
    margin-right: 50px;
}

.right {
    margin-right: 30px;
}

.left,
.right {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.left>li>a,
.right>li>a {
    text-decoration: none;
    display: inline-block;
    color: hsl(0, 0%, 41%);
    transition: 0.4s;
}

.left>li>a:hover,
.right>li>a:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.4s;
}

.reg {
    border: 2px solid hsl(0, 0%, 41%);
    padding: 13px 25px;
    border-radius: 15px;
    text-align: center;
}

.reg:hover {
    border: 2px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 8%);
}

.feat-btn,
.comp-btn {
    border-width: 0;
    color: hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.active {
    /* a class that will be used to equip the "Features" and "Company" buttons with (see main.js section) */
    color: hsl(0, 0%, 8%);
}

.feat-btn:hover,
.comp-btn:hover {
    color: hsl(0, 0%, 8%);
}

.feat-btn:hover .feat-img,
.comp-btn:hover .comp-img {
    filter: brightness(-50%);
}

.feat-img,
.comp-img {
    padding-left: 5px;
    padding-bottom: 1px;
    transition: 0.4s;
}

.active-img {
    /* a class that will be used to equip the arrow images 
    next to the "Features" and "Company" buttons with (see main.js section) */
    transform: rotate(-180deg);
    transform-origin: 10px 3px;
    transition: 0.4s;
    filter: brightness(-50%);
}

.features-content,
.company-content {
    background-color: white;
    position: absolute;
    display: none;
    margin-top: 20px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 20px 50px -10px hsl(0, 0%, 70%);
}

.features-content {
    transform: translateX(-45%);
}

.features-content>a,
.company-content>a {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    transition: 0.4s;
}

.features-content>a:hover,
.company-content>a:hover {
    color: hsl(0, 0%, 8%);
    transition: 0.4s;
}

.features-content>a:not(:last-child),
.company-content>a:not(:last-child) {
    margin-bottom: 20px;
}

.odd {
    padding-right: 20px;
}

.even {
    padding-right: 17px;
}

/* End of navbar-menu */

/******************************/

/* Main section */

.container {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
    margin-top: 70px;
    margin-bottom: 137px;
}

.container-1 {
    padding-left: 20px;
    padding-right: 20px;
    align-self: flex-end;
}

.header {
    font-size: 80px;
}

.paragraph {
    font-size: 18px;
    color: hsl(0, 0%, 41%);
    line-height: 25px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.container-1>p:last-child {
    margin-top: 120px;
}

.container-1>p>img {
    margin-right: 35px;
}

.container-1>p>a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 15px;
    border: 1px solid hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    transition: 0.4s;
}

.container-1>p>a:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 8%);
    font-weight: bold;
}

.main-image {
    width: 540px;
}

/* End of main section */

/******************************/

/* Footer - Credits */

.attribution {
    font-size: 16px;
    text-align: center;
    background-color: #726cee;
    color: #141414;
    padding-top: 20px;
    padding-bottom: 20px;
}

.attribution a {
    color: #fafafa;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

/* End of Footer */

/******************************/

/* Media queries - different widths */

@media (max-width: 1111px) {

    .navbar {
        height: 47px;
    }

    .container {
        flex-wrap: wrap-reverse;
    }

    .container-1 {
        margin-top: 100px;
    }
}

@media (max-width:870px) {

    .menu {
        position: fixed;
        inset: 0 0 0 40%;
        background: hsl(0, 0%, 98%);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 100px;
        transform: translateX(100%);
    }

    .active-menu { 
        /* a class that will be used for a functional side nav-menu (see main.js section) */
        transform: translateX(0%);
    }

    .activated-menu {
        /* a class that will be used for a functional side nav-menu (see main.js section) */
        transition: transform 0.5s ease-out;
    }

    .left,
    .right {
        margin: 0;
        gap: 0;
        flex-direction: column;
        gap: 25px;
    }

    .left {
        align-items: flex-start;
        padding-left: 22px;
    }

    .right {
        margin-top: 60px;
        align-self: center;
    }

    .features-content,
    .company-content {
        position: static;
        background-color: hsl(0, 0%, 98%);
        transform: translateX(25%);
        box-shadow: none;
    }

    .reg {
        width: 180px;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 32px;
        right: 30px;
        z-index: 1;
        border-width: 0;
        background-color: hsl(0, 0%, 98%);
        cursor: pointer;
    }

    .menu-img {
        filter: brightness(700%);
        transition: 0.4s;
    }

    .active-menu-img {
        filter: none;
    }

    .menu-img:hover {
        filter: none;
        transition: 0.4s;
    }

}

@media (max-width: 565px) {

    .features-content,
    .company-content {
        transform: translateX(0%);
    }

    .main-image {
        width: 375px;
    }

    .container {
        margin-top: 30px;
    }

    .container-1 {
        width: 375px;
        margin-top: 50px;
        text-align: center;
    }

    .header {
        font-size: 35px;
    }

    .paragraph {
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container-1>p:last-child {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .container-1>p>img {
        margin-right: 0;
        width: 15%;
        height: 15%;
    }

    .container-1>p>img:first-child {
        width: 20%;
        height: 20%;
    }

}

@media (max-width: 375px) {
    .main-image {
        width: 100%;
    }
}

/***************************************************************************************************/